<MudAppBar Elevation="1" Style="background: #f5f7fa;">
    <div class="d-flex gap-7">
        <MudText Style="color: black;" Typo="Typo.h4">Welcome back Dr John!</MudText>
        <input class="search-box" type="text" placeholder="Search for anything..." />

        <div class="icon-circle">
            <!--Bell Icon-->
            <svg fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M12 22c1.1 0 2-.9 2-2H10c0 1.1.9 2 2 2z" />
                <path d="M18 16v-5a6 6 0 10-12 0v5l-2 2h16l-2-2z" />
            </svg>
        </div>

        <div class="profile-box">
            <img src="profilePicture.png" alt="profile" />

            <div class="profile-info">
                <span class="profile-name">John Doe</span>
                <span class="profile-role">Researcher, Rx ltd</span>
            </div>

            <span class="arrow">▼</span>
        </div>
    </div>
</MudAppBar>