<MudPaper Elevation="0" Class="pa-4">
    <div class="d-flex align-center mb-4">
        <MudSkeleton SkeletonType="SkeletonType.Circle" Width="40px" Height="40px" Class="mr-3" />
        <div style="flex: 1;">
            <MudSkeleton SkeletonType="SkeletonType.Text" Width="40%" />
            <MudSkeleton SkeletonType="SkeletonType.Text" Width="60%" Class="mt-1" />
        </div>
    </div>

    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px" Class="mb-3" />

    <MudSkeleton SkeletonType="SkeletonType.Text" Width="100%" Class="mb-2" />
    <MudSkeleton SkeletonType="SkeletonType.Text" Width="90%" Class="mb-2" />
    <MudSkeleton SkeletonType="SkeletonType.Text" Width="80%" Class="mb-4" />

    <div class="d-flex gap-2">
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100px" Height="36px" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100px" Height="36px" />
    </div>
</MudPaper>