@page "/"

@using ResearchRecruitment.ViewModels

@inject IJSRuntime JS
@inject MapPageViewModel viewModel
@inject ISnackbar snackbar

@if (viewModel.IsLoading)
{
    <SkeletonLoading />
}
else
{
    <MudContainer>
        <MudText Align="Align.Center">Find Participants for your Research</MudText>

        <div class="d-flex">
        </div>

        <div id="p5-container"></div>
    </MudContainer>
}

@code
{
    private string dataJson = string.Empty;
    private bool mapRenderComplete = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) { return; }

        viewModel.IsLoading = true;
        //await InvokeAsync(StateHasChanged);
        dataJson = await viewModel.LoadEmbeddingDataAsync();

        try
        {
            await JS.InvokeVoidAsync("renderingCode.start", dataJson, "[]");
        }
        catch
        {
            snackbar.Add("Error Loading Data. Please Contact Support if Issue Persists", Severity.Error);
        }
        finally
        {
            viewModel.IsLoading = false;
            //await InvokeAsync(StateHasChanged);
        }
    }
}