@page "/register-researcher"

<DashboardAppbar />

<MudContainer>
	<MudGrid Spacing="5">
		<MudItem md="4">
			<MudText Style="color: #0A0A6A;" Typo="Typo.h2">Register as a Researcher</MudText>
			<MudText Typo="Typo.body1">Create your account to post research studies and recruit participants</MudText>

			<MudStack>
				<MudTextField Class="blue-border" Variant="Variant.Outlined" Label="Full Name" T="string" Required />
				<MudTextField Class="blue-border" Variant="Variant.Outlined" Label="Institution / Organization Name" T="string" Required />
				<MudTextField Class="blue-border" Variant="Variant.Outlined" Label="Email Address" T="string" Required />
				<MudTextField Class="blue-border" Variant="Variant.Outlined" Label="Password" T="string" Required />

				<MudSelect Variant="Variant.Outlined" Class="blue-border" T="string" Label="Research Field">
					<MudSelectItem T="string">Mathematics</MudSelectItem>
					<MudSelectItem T="string">Biology</MudSelectItem>
					<MudSelectItem T="string">Physics</MudSelectItem>
					<MudSelectItem T="string">UI/UX</MudSelectItem>
				</MudSelect>

				<MudCheckBox T="bool">I confirm that my studies comply with ethical standards</MudCheckBox>

				<MudButton Class="mb-4" Style="background: #0A0A6A; color: white; width: 70%; border-radius: 10px;">Create Account</MudButton>

				<div style="margin-bottom: 30px;"></div>
			</MudStack>
		</MudItem>

		<MudItem md="8">
			<MudImage style="margin-left: 100px;" Width="800" Src="register-researcher-img.png" Elevation="20" />
		</MudItem>
	</MudGrid>
</MudContainer>